<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>ktab_settings_call</string>
		<key>iconName</key>
		<string>icon_call</string>
		<key>nextHandler</key>
		<string>AlarmCallSettingViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ktab_settings_msg_settings</string>
		<key>iconName</key>
		<string>icon_duanx</string>
		<key>nextHandler</key>
		<string>AlarmMSGSettingViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ktab_settings_change_pwd</string>
		<key>iconName</key>
		<string>icon_change_pwd</string>
		<key>nextHandler</key>
		<string>AlarmPWDSettingViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ktab_settings_change_language</string>
		<key>iconName</key>
		<string>icon_change_language</string>
		<key>nextHandler</key>
		<string>AlarmLanguageSettingViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ktab_settings_change_zone_name</string>
		<key>iconName</key>
		<string>icon_change_zone_name</string>
		<key>nextHandler</key>
		<string>AlarmRegionSettingViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ktab_settings_ringing_times</string>
		<key>iconName</key>
		<string>icon_ringing_times_settings</string>
		<key>nextHandler</key>
		<string>AlarmVibrateSettingViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ktab_settings_delayed_time</string>
		<key>iconName</key>
		<string>icon_delayed</string>
		<key>nextHandler</key>
		<string>AlarmDelaySettingViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ktab_settings_ringing_time</string>
		<key>iconName</key>
		<string>icon_ringing_time_settings</string>
		<key>nextHandler</key>
		<string>AlarmDurationSettingViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ktab_settings_change_rfid_name</string>
		<key>iconName</key>
		<string>icon_change_rfid_name</string>
		<key>nextHandler</key>
		<string>AlarmRFIDSettingViewController</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ktab_settings_deployment_time</string>
		<key>iconName</key>
		<string>icon_deployment_and_abandon</string>
		<key>nextHandler</key>
		<string>AlarmWithdrawSettingViewController</string>
	</dict>
</array>
</plist>
